	<div class="errors">
			<%= flash[:error] %>	
	</div>

	<%= form_for @picture do |f| %>
		<p>
			<div class="errors"><%= @picture.errors[:title].join(". ") %></div>	
			<%= f.label "Title" %>
			<%= f.text_field "title" %>	
		</p>
		<p>
			<%= f.label "Artist" %>
			<%= f.text_field "artist" %>
		</p>
		<p>
			<div class="errors"><%= @picture.errors[:url].join(". ") %></div>
			<%= f.label "URL" %>
			<%= f.text_field "url" %>
		</p>
		<p>
			<%= f.label "Copyrighted?" %>
			<%= f.check_box "copyrighted" %>
		</p>
		<p>
			<%= f.submit "Save" %>
		</p>

	<% end %>