<div class="escape-nav">
	<ul>
		<li><%= link_to "Return Home", pictures_path %></li>
		<li><%= link_to "View Image", picture_path(@picture) %></li>
	</ul>
</div>

<div class="display">
	<h1>Edit picture (ID <%= @picture.id %>)</h1>

	<%= render :partial => "form" %>
	<%= button_to "Delete", picture_path(@picture), :method => :delete, :confirm => "Are you sure?" %>
</div>