<div class="escape-nav">
	<ul>
		<li><%= link_to "Return Home", pictures_path %></li>
		<li><%= link_to "View Image", picture_path(@picture) %></li>
	</ul>
</div>

<h1>Edit picture (ID <%= @picture.id %>)</h1>

<%= form_for @picture do |f| %>
	<p>
		<label>Title</label><br>
		<%= f.text_field "title" %>
	</p>
	<p>
		<label>Artist</label><br>
		<%= f.text_field "artist" %>
	</p>
	<p>
		<label>URL</label><br>
		<%= f.text_field "url" %>
	</p>
	<p>
		<%= f.submit "Update" %>
		<%= button_to "Delete", picture_path(@picture), :method => :delete, :confirm => "Are you sure?" %>
	</p>

<% end %>