<!-- This is the body -->
<!-- Find header, etc. in application.html.erb -->
<!-- <header>
	<h1>PHOTOGUR</h1>
</header> -->

<div class="sectionheader">
	<h1>Picture Listing</h1>
	<div id="new-link">
		<%= link_to "Add a Photo", new_picture_path %>
	</div>
	<div class="clear"></div>
</div>

<!-- "-" says run something in ruby, but don't print the result -->
<%- @pictures.each do |picture| %>
		<div class="display">
			<h2><%= picture.title %></h2>
			<h4><%= picture.artist %></h4>
			<div class="photo-nav">
				<a href="<%= picture_path(picture) %>">View Photo</a> | <a href="<%= edit_picture_path(picture) %>">Edit</a>
			</div>
			<div class="imageframe">
				<% if picture.copyrighted %>
				<div class="copyrighted">
					<p>Image is copyrighted by its original author.</p>
				</div>
				<div class="clear"></div>
				<% end %>
				<div class="image">
					<%= link_to picture_path(picture) do %>
					<%= image_tag picture.url %>
					<% end %>
				</div>
			</div>
		</div>
<% end %>	
<!-- with = t would print out more than you want -->
