<!-- This is the body -->
<!-- Find header, etc. in application.html.erb -->
<h1>Hello</h1>

<p><%= "Hello from ruby".upcase %></p>
<p><%= 1+1 %></p>

<p><%= @greeting %>

<!-- "-" says run something in ruby, but don't print the result -->
<%- @pictures.each do |image| %>
	<div style="margin: 10px 0; padding: 5px; background: #EEE; width: 700px;"
		<p>
			<img src="<%= image %>">
		</p>
		<h5><%= "#{@title}" %><%= image %></h5>
	</div>
<% end %>	
<!-- with = t would print out more than you want -->