<div class="escape-nav">
	<ul>
		<li><%= link_to "Return Home", pictures_path %></li>
		<li><%= link_to "Edit", edit_picture_path(@picture) %></li>
	</ul>
</div>

<div class="display">
	<h2><%= @picture.title %></h2>
	<h4><%= @picture.artist %></h4>

	<%= link_to picture_path(@picture) do %>
		<%= image_tag @picture.url %>
	<% end %>
</div>