<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<%= link_to "Show me a picture!", picture_path(Picture.all.sample)%>
		<%= link_to " | Free pictures only", pictures_path(:free => "yes") %>
		<%= link_to " | Home", pictures_path %>

	</nav>

	<%= yield %>

</body>
</html>
